<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div th:replace="~{fragments/nav :: nav}"></div>
<main class="container pb-5">
    <h1 class="h4 mb-3" th:text="${pageTitle}">Histórico</h1>
    <div class="table-responsive shadow-sm bg-white rounded border">
        <table class="table table-sm mb-0">
            <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Data geração</th>
                <th>Status</th>
                <th>Log</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${itens}">
                <td th:text="${a.id}">-</td>
                <td th:text="${a.dataGeracao}">-</td>
                <td th:text="${a.status}">-</td>
                <td th:text="${a.mensagemLog}">-</td>
                <td><a class="btn btn-sm btn-outline-primary" th:href="@{/ui/produtos/historico/{id}/download(id=${a.id})}">Download</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:replace="~{fragments/scripts :: bootstrap}"></th:block>
</body>
</html>
